<?xml version="1.0" encoding="UTF-8"?>
<!-- doc타입 선언 Mapper -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

  <mapper namespace="dynamic.dao.DynamicQueryDao">
  	<select id="select" resultType="hashmap">
  		SELECT * FROM test_member 
  		
  		<if test="">
  			ORDER BY no
  		</if>
  	</select>
  	
  	<select id="select2" parameterType="string" resultType="web.dto.Emp">
  		SELECT * FROM emp 
  		<if test="ename!=null and !ename.equals('')">
  			<!-- 검색쓸때 ${}는 작은 따옴표포함 -> 이렇게 적어줘야한다 -->
  			WHERE ename LIKE '%' || #{ename} || '%'
  		</if>
  	</select>
  	<select id="select3" parameterType="web.dto.Emp" resultType="web.dto.Emp">
  		SELECT * FROM emp
  		
  		<if test="ename!=null and !ename.equals('')">
  			<if test="empno!=null">
  			WHERE empno=#{empno} OR ename=#{ename}
  			</if>
  		</if>
  		
  	</select>
  </mapper>
