<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<!-- 마이바티스 3 설정항목 태그 -->
 <!-- 접속할 DB 정보 설정 -->
 <configuration> 
 <!-- 방법 1 -->
	 <!-- DB접속 정보를 Properties 파일에서 추출해온다 -->
 	<properties resource="mybatis/db.properties"/>
<!-- properties 를 넣는다면 밑 value위치에 ${driver},${url}등으로 삽입해줘야함 -->
 
 <!-- 방법2 -->
 	<environments default="develpment">
 	<!-- 접속가능한 DB정보 태그(대부분 하나) -->
 		<environment id="develpment">
 		<!-- JDBC를 이용한 트랜잭션 관리 설정 -->
 			<transactionManager type="JDBC"/>
 			<!-- DB접속 정보 -->
 			<dataSource type="POOLED">
 				<property name="driver" value="${driver}"/>
 				<property name="url" value="${url}"/>
 				<property name="username" value="${username}"/>
 				<property name="password" value="${password}"/>
 			</dataSource> 		 		
 		</environment>
 	</environments>
 
 	<!-- SQL 쿼리 매퍼 정보 -->
 	<mappers>
 		<!-- mapper로 사용할 xml파일이 어디있는지-resources -->
 		<!-- /로 구분해준다!!!주의 -->
 		<mapper resource="web/dao/EmpMapper.xml"/>
 		<mapper resource="selectKey/dao/SelectKeyMapper.xml"/>
 		<mapper resource="dynamic/dao/DynamicQueryMapper.xml"/>
 	</mappers>
 
 </configuration>
