<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	<!-- proxy객체 빈 생성 안해줘도되는 태그 -->
	<!-- AutoProxyCreator bean과 PointCutAdvisor bean 을 등록하지 않고도 Aop를 가능하게 해주는 태그 -->
	<aop:aspectj-autoproxy/>

	<bean id="man" class="test03.Man"/>
	<bean id="woman" class="test03.Woman"/>
	<!-- advice -->
	<bean id="myAdvice" class="test03.MyAdvice"/>
	
	<aop:config>
		<aop:aspect ref="myAdvice">
		<!-- 타겟 객체가 호출 전 advice 추가 -->
		<!-- method="before" -> MyAdvic클래스의 before메서드 -->
			<aop:before method="before" pointcut="execution(public * *(..))"/>
			<!-- 타겟 객체가 호출 후 advice 추가 -->
			<!-- method="after"->MyAdvice 클래스의 after 메서드 -->
			<aop:after method="after" pointcut="execution(public * *(..))"/>
		</aop:aspect>
	</aop:config>


</beans>
